/* Style for Project */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.project {
    display: flex;
    margin: 0px auto;
    color: #fff;
    padding: 20px;
    border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color);
    flex-grow: 1;
    max-width: calc(var(--max-content-width) * var(--project-width-ratio));
}

.project .project-image {
    flex-shrink: 0; 
    padding-top: 0.5rem;
    height: 200px; 
    width: 200px; 
}

.project .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.project .project-info {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project .project-title {
    font-size: 2rem;
    margin: 0;
    border: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--project-title-color);
    text-decoration: none;
    text-align: left;
}

.project .project-info .project-title:hover {
    color: var(--contrast-color); 
    cursor: pointer;
}

.project .project-meta {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
}

.project .project-meta p {
    margin: 1px 0;
    text-align: left;
    display: block;
    width: 100%;
    color: var(--project-paragrah-color);
}

.project .project-meta .meta-title,
.project .project-meta .duration {
    margin-left: 5px;
    font-weight: bold;
    color: var(--contrast-color);
}

.project .project-description {
    margin: 0.1rem 0;
    text-align: justify;
    flex-grow: 1;
    font-size: 1.05rem;
    color: var(--project-paragrah-color);

}

.project .read-more {
    color: var(--contrast-color);
    text-decoration: none;
    display: inline-block;
    font-size: inherit; 
    margin-left: 0px; 
}

.project .read-more:hover {
    color: var(--contrast-color-light);
}

.project .link-in-project-desc{
    font-weight: bold;
    color: var(--project-paragrah-color);
    text-decoration: none;
    display: inline-block;
    font-size: inherit; 
    margin-left: 0px; 
}

/* Responsive Design */

@media (max-width: 900px){
    .project .project-description { 
        font-size: 0.9rem;    
    }
    .project .project-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project .project-info {
        padding: 0.1rem;
        text-align: left;
    }
    .project .project-image {
        flex-shrink: 0; 
        height: 10rem; 
        width: 10rem; 
    }
    .project .project-title {
        text-align: center;
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    :root{
        --project-width-ratio: 1;
    } 
    .project .project-image {
        flex-shrink: 0; 
        height: 400px; 
        width: 400px; 
    }
}

@media (max-width: 1250px) {
    :root{
        --project-width-ratio: 0.94;
    } 
    .project .project-image {
        flex-shrink: 0; 
        height: 300px; 
        width: 300px; 
    }
}

